* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding:15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url('nasa-Q1p7bh3SHj8-unsplash.jpg');
  height: 1150px;
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.name{
    margin-top: 20px;
}

.top-wrapper p {
  opacity: 0.7;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.bookMark {
  background-color:rgb(56, 136, 132);
  margin: 20px;
}

.content1 {
  background-color:rgb(56, 136, 132);
  margin-right: 10px;
  margin-top: 10px;
}

.content2{
  background-color:rgb(56, 136, 132);
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}


header {
  height: 65px;
  width: 100%;
  background-color: rgba(27, 33, 34, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.nissho{
    width: 100px;
    height: 50px;
    border-radius: 3px;
    position: absolute;
    left: 12px;
    bottom: 8px;
}


.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  position: relative;
  bottom: 15px;
  left: 250px;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}


.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

footer img {
  width: 125px;
}

footer p {
 margin-left: 30px;
 color: #b3aeb5;
 font-size: 15px;
}


