p{
    font-size:14px;
}

a {
  text-decoration: none;
}



body{
    margin: 0em;
    padding: 80px 0 100px 0;
    background-image: url('cafe.jpg');
    height: 550px;
    background-size: cover;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(27, 33, 34, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.nissho{
    width: 100px;
    height: 50px;
    border-radius: 3px;
    position: absolute;
    left: 12px;
    bottom: 8px;
}


.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  position: relative;
  bottom: 15px;
  left: 250px;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container {
  max-width: 1000px;
  width: 100%;
  padding:15px;
  margin: 0 auto;
}

.content{
   /* background-color: rgb(105, 213, 228);*/
    background-color: #fff;
    width: 400px;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    padding:30px;
    border-radius: 20px;
    opacity: 0.96;
}

.inline-block{
  text-align: center;
}

button{
    display: inline-block;
    width: 30%;
    background-color: #2096f3;
    color:#fff;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 35px;
    margin-left: 35px;
    border: 0;
    border-radius: 10px;
    opacity: 0.9;
}

button:hover {
  opacity: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    margin-top: 30px;
    font-size: 13px;
  }

  .th1 {
    color: black;
    background-color: lightgray;
    padding: 15px;
    width: 60%;
  }

  .th2{
    background-color: lightgray;
    padding: 15px;
    width: 20%;
  }

  table td {
    color: black;
    background-color: #F5F5F5;
    padding: 20px;
    border-bottom: 1px dotted lightgray;
  }
