p{
    font-size:14px;
}

body{
    background-color: #fafafa;
}

.content{
   /* background-color: rgb(105, 213, 228);*/
    background-color: #fff;
    width: 400px;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    padding:30px;
}

input{
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

button{
    width: 100%;
    background-color: #2096f3;
    color:#fff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 10px;
}

.btton:hover {
  opacity: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    margin: 20px;
  }

  .th1 {
    color: black;
    background-color: lightgray;
    padding: 10px;
    width: 60%;
  }
  
  .th2{
    background-color: lightgray;
    padding: 10px;
    width: 20%;
  }

  table td {
    color: black;
    background-color: #F5F5F5;
    padding: 10px;
    border-bottom: 1px dotted lightgray;
  }
