p{
    font-size:14px;
}

body{
    background-color: #fafafa;
}

.content{
   /* background-color: rgb(105, 213, 228);*/
    background-color: #fff; 
    width: 400px;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    padding:30px;
}

input{
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

button{
    width: 100%;
    background-color: #2096f3;
    color:#fff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 10px;
}

