

p{
    font-size:14px;
}

a {
    text-decoration: none;
  }

body{
    margin: 0em;
    background-color: #fafafa;
    padding: 80px 0 100px 0;
    background-image: url('marvin-meyer-SYTO3xs06fU-unsplash.jpg');
    height: 550px;
    background-size: cover;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(27, 33, 34, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .nissho{
      width: 100px;
      height: 50px;
      border-radius: 3px;
      position: absolute;
      left: 12px;
      bottom: 8px;
  }
  
  
  .header-right {
    float: right;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    position: relative;
    bottom: 15px;
    left: 250px;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .container {
    max-width: 1000px;
    width: 100%;
    padding:15px;
    margin: 0 auto;
  }

.content{
   /* background-color: rgb(105, 213, 228);*/
    background-color: #fff;
    width: 400px;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding:30px;
}

input{
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

.btn{
    width: 100%;
    background-color: #2096f3;
    color:#fff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 10px;
    opacity: 0.9;
}

.btn:hover{
    opacity: 1;
}

button:hover {
    opacity: 0.8;
  }
